GOOGLE_GENAI_USE_VERTEXAI=true
 
#GOOGLE_API_KEY=

# Para carga de documentos por especialziada
GCS_BUCKET_LABORAL=expendientes_casos_laborales


# TODO: Agregar path de adk.
ADK_CREDENTIALS_PATH=C:\Desarrollo\gitlab\procurador-ia-backup-agent2agent\Laboral_main\adk.json

GOOGLE_CLOUD_PROJECT="pgr-ia-data-soluciones"
GOOGLE_CLOUD_LOCATION="us-central1"


# RAG CORPUS Por 
RAG_CORPUS_TRATADOS_INTERNACIONALES=projects/pgr-ia-data-soluciones/locations/us-east1/ragCorpora/2305843009213693952
RAG_NORMATIVAS_APLICABLES_AL_SECTOR_PUB_PRIV=projects/pgr-ia-data-soluciones/locations/us-east1/ragCorpora/5685794529555251200
RAG_CODIGO_DE_TRABAJO=projects/pgr-ia-data-soluciones/locations/us-east1/ragCorpora/2227030015734710272
RAG_JURISDICCION_CONTENCIOSA_ADMINISTRATIVA=projects/pgr-ia-data-soluciones/locations/us-east1/ragCorpora/9144559043375792128
RAG_SECTOR_PUBLICO_LABORAL=projects/pgr-ia-data-soluciones/locations/us-east1/ragCorpora/2443202797848494080
RAG_SECTOR_MUNICIPAL_DEL_TRABAJO=projects/pgr-ia-data-soluciones/locations/us-east1/ragCorpora/5901967311669035008
RAG_SECTOR_PRIVADO_LABORAL=projects/pgr-ia-data-soluciones/locations/us-east1/ragCorpora/713820540938223616
RAG_CORPUS_CONSTITUCION=projects/pgr-ia-data-soluciones/locations/us-east1/ragCorpora/576460752303423488

# Rag Corpus lectura de casos. 
RAG_CORPUS_CASOS_LABORALES=projects/pgr-ia-data-soluciones/locations/us-east1/ragCorpora/4611686018427387904

## Rag en conjunto.

RAG_LEYES_LABORALES_PUBLICO_PRIVADO=projects/pgr-ia-data-soluciones/locations/us-east1/ragCorpora/5148740273991319552	
	
RAG_LEYES_LABORALES_PRIVADO=projects/pgr-ia-data-soluciones/locations/us-east1/ragCorpora/1689975760170778624	
	
RAG_LEYES_LABORALES_PUBLICO=projects/pgr-ia-data-soluciones/locations/us-east1/ragCorpora/8607504787811860480

RAG_LEYES_LABORALES_PUBLICO_CARRERAS=projects/pgr-ia-data-soluciones/locations/us-east1/ragCorpora/3419358017081049088

RAG_ GUIA_DE_SERVICIO_PGR=projects/pgr-ia-data-soluciones/locations/us-east1/ragCorpora/7991637538768945152


DOCAI_PROJECT_ID=763982562828
DOCAI_LOCATION=us
DOCAI_PROCESSOR_ID=1a36d352549ab424